@use '@/app/styles/core/variables' as *;

.aboutSection {
    h2 {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0;
        margin: 0;
    }
}

.aboutWrapper {
    margin: 0 auto;
}

.decorationTop {
    width: 1px;
    height: 150px;
    margin: 12px auto 0 auto;
}   

.aboutText {
    font-size: 28px;
    font-weight: 500;
    line-height: 30px;
    margin: 20px 0 0 0;

    &:first-child {
        margin: 0;
    }
}

.circles {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    width: 100%;
}

.circleItem {
    position: relative;
    width: 308px;
    height: 308px;

    &:first-child {
        .circle {
            transform: rotate(-90deg);
        }    
    }
    
    &:last-child {
        .circle {
            transform: rotate(90deg);
        }
    }
}

.circle {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    // animation: circleAnimation 3s linear infinite reverse;
}

.circleContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    p {
        margin: 6px auto 0 auto;
        width: 55%;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        line-height: 24px;
    }
}

.icon {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

@keyframes circleAnimation {
	to {
		transform: rotate(1turn);
	}
}


@media only screen and (min-width: 460px) {
    .circleItem {
        width: 420px;
        height: 420px;
    }   
}

@media only screen and (min-width: 570px) {
    .circleItem {
        width: 520px;
        height: 520px;
    }   
}

@media only screen and (min-width: 640px) {
    .circleItem {
        width: 600px;
        height: 600px;
    }   
}

@media only screen and (min-width: $break-point-tablet) {
    .circles {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 16px;
    }

    .circleItem {
        width: 100%;
        height: auto;
        padding-top: 32%;
    }
}

@media only screen and (min-width: $break-point-small) {
    .aboutSection {
        h2 {
            font-size: 16px;
            line-height: 18px;
        }
    }

    .aboutWrapper {
        width: 84%;
    }

    .decorationTop {
        width: 1px;
        height: 200px;
    }   

    .aboutText {
        font-size: 44px;
        line-height: 46px;
        text-align: center;
        margin: 0;

        &:first-child {
            margin: 0;
        }
    }

    .aboutTextColumn {
        display: flex;
        width: 100%;
        span {
            display: block;
            width: 50%;
            text-align: left;
        }

        &:first-child {
            span {
                &:before {
                    content: '';
                    display: inline-block;
                    width: 40%;
                }
            }
        }

        &:nth-child(2) {
            justify-content: flex-end;
        }
    }

    .circles {
        margin-top: $main-gap-n;
        column-gap: 20px;
    }

    .circleItem {
        padding-top: 31.7%;
    }
}

@media only screen and (min-width: $break-point-medium) {
    .circleItem {
        padding-top: 31.9%;
    }

    .circleContent {
        width: 80%;

        p {
            margin: 10px auto 0 auto;
            max-width: 252px;
            font-size: 28px;
            line-height: 30px;
        }
    }

    .icon {
        width: 80px;
        height: 80px;
    }
}

@media only screen and (min-width: $break-point-normal) {
    .circleItem {
        padding-top: 31.2%;
    }   
}

@media only screen and (min-width: $break-point-medium-large) {
    .aboutWrapper {
        max-width: 1404px;
        width: 100%;
    }   

    .circles {
        column-gap: 24px;
    }

    .circleItem {
        padding-top: 0;
        width: 452px;
        height: 452px;
    } 
}

@media only screen and (min-width: $break-point-full-style) {
    .aboutText {
        font-size: 50px;
        line-height: 52px;
    }
}