@use '@/app/styles/core/variables' as *;

.productTeam {
    height: 100vh;
    padding-top: 80px;
    padding-bottom: 80px;
}

.productTeamContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    h2 {
        br {
            display: none;
        }
    }
}

.productTeamInfo {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.productTeamInfoItem {
    display: flex;
    
    > div {
        display: flex;
        align-items: center;
        column-gap: 14px;
        background: #0E0E0E;
        border: 1px solid #1D1D1C;
        padding: 8px 24px 8px 10px;
    }

    p {
        font-size: 16px;
        line-height: 18px;
        margin: 0;
    }
}

.icon {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
}

@media only screen and (min-width: $break-point-tablet) {
    .productTeam {
        height: auto;
    }

    .productImage {
        position: relative;
        margin-top: 80px;
    }

    .productTeamContent {
        flex-direction: row;
        column-gap: 20px;

        h2 {
            flex-shrink: 0;
            br {
                display: block;
            }
            
        }
    }

    .productTeamInfo {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px;
    }
}

@media only screen and (min-width: $break-point-small) {
    .productTeam {
        padding-top: $main-gap-n;
        padding-bottom: $main-gap-n;
    }

    .productTeamInfo {
        gap: 12px;
    }

    .icon {
        width: 40px;
        height: 40px;
    }

    .productTeamInfoItem {

        > div {
            padding: 12px 24px 12px 10px;
        }

        p {
            font-size: 16px;
            line-height: 18px;
        }
    }
}

@media only screen and (min-width: $break-point-normal) {
    .productTeamInfoItem {
        p {
            font-size: 18px;
            line-height: 20px;
        }
    }  

    .productTeamContent {
        column-gap: 30px;
    }
}

@media only screen and (min-width: $break-point-full-style) {
    .productTeamInfoItem {
        p {
            font-size: 24px;
            line-height: 26px;
        }
    }
    
    .productTeamContent {
        column-gap: 52px;
    }
}