@font-face {
    font-family: 'InterRegular';
    src: url('/fonts/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'InterSemiBold';
    src: url('/fonts/Inter/static/Inter_18pt-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

@font-face {
    font-family: 'InvolveBold';
    src: url('/fonts/involve/Involve-Bold-BF65bb0f66f270b.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
    font-display: swap;
}
