$color-black: #000000;
$color-black90: #1D1D1C;
$color-black-transparent: rgba(140, 140, 140, 0.2);
$color-grey-60: #8C8C8C;
$color-grey-70: #6F6F6F;
$color-grey-80: #4F4F4F;
$color-red: #F33838;
$color-red-dark: #8A3434;
$color-white: #ffffff;
$color-bg-black:#000000;
$color-blue: #0329A8;
$color-orange: #EB5107;

$transition-time: 0.3s;
$column-point-normal-width: 600px;

$font-primary: var(--font-tiktok-sans);

$break-point-tablet: 764px;
$break-point-small: 1080px;
$break-point-medium: 1200px;
$break-point-normal: 1440px;
$break-point-medium-large: 1640px;
$break-point-large: 1900px;
$break-point-full-style: 1792px;
$max-width: 1440px;

$main-padding-m: 20px;
$main-padding-s: 40px;
$main-padding-l: 64px;

$main-gap-s: 40px;
$main-gap-m: 80px;
$main-gap-n: 112px;
$main-gap-l: 120px;