@use '@/app/styles/core/variables' as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    background: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(8px);
    transition: opacity 0.3s;
    pointer-events: none;
    overflow: hidden;

    &.active {
        z-index: 110;
        opacity: 1;
        pointer-events: auto;
    }
}

.closeOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.formButtonCloseD {
    display: none !important;
}

.contactFormWrapper {
    position: relative;
    padding: 40px 20px;
    background: $color-black;
    border: 1px solid #1D1D1C;
    max-height: calc(100vh + 80px);
    overflow: auto;

    h2 {
        margin: 0;
        font-size: 48px;
        line-height: 50px;
        letter-spacing: -1;
    }
}

.contactFormGap {
    margin-top: 40px;
}

.contactFormDesc {
    margin: 24px 0 0 0;
}

.form {
    margin-top: 40px;
}

.contactFormSection {
    margin-top: 40px;
}

.contactFormSectionTitle {
    display: flex;
    column-gap: 8px;
    font-size: 14px;
    color: $color-white;
    text-transform: uppercase;
    margin: 0 0 24px 0;

    .icon {
        width: 20px;
        height: 20px;
    }
}

.contactFormChecboxes {
    margin-top: 24px;
    display: flex;
    column-gap: 32px;
    row-gap: 14px;
    flex-wrap: wrap;
}

.contactFormRadio {
    width: 90%;
    margin-top: 32px;
}

.buttonWrap {
    margin-top: 40px;
    
    button {
        width: 100%;
    }
}

.or {
    font-size: 18px;
    line-height: 20px;
    color: $color-grey-70;
    text-align: center;
    margin: 0;
}

.orButtons {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: $break-point-tablet) {

    .contactFormWrapper {
        padding: 60px 40px;
        max-height: calc(100vh + 120px);
    }

    .contactFormContent {
        max-width: 590px;
    }

    .orButtons {
        flex-direction: row;
        a {
            width: 50%;
        }
    }
}

@media only screen and (min-width: $break-point-small) {
    .contactFormRadio {
        width: 100%;
    }

    .overlay {
        display: flex;
        justify-content: flex-end;
    }

    .contactFormWrapper {
        width: 50%;
    }

    .contactFormContent {
        .formButtonCloseM {
            display: none;
        }
    }

    .formButtonCloseD {
        display: flex !important;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(-50%, -50%);
        background: rgba(140, 140, 140, 0.2) !important;
        backdrop-filter: blur(8px);
        svg {
            width: 14px !important;
            height: 14px !important;
        }
    }
}

@media only screen and (min-width: $break-point-normal) {
    .contactFormWrapper {
        padding: 60px 40px 80px 60px;
        max-height: calc(100vh + 140px); 
    }
}

@media only screen and (min-width: $break-point-full-style) {
    .contactFormWrapper {
        padding: 70px 40px 120px 70px;
        max-height: calc(100vh + 190px); 
    }
}