@use '@/app/styles/core/variables' as *;

.fixedSection {
    position: relative;
    padding-left: $main-padding-m;
    padding-right: $main-padding-m;
    padding-top: 150px;
    padding-bottom: 150px;

    h2 {
        font-size: 60px;
        line-height: 50px;
        text-align: center;
        letter-spacing: -2px;
        margin: 0;
    }

    p {
        margin: 32px 0 0 0;
        text-align: center;
        white-space: pre-line;
    }

    button {
        // width: 250px;
        margin: 48px auto 0 auto;
    }
}

.fixedSectionWrapper {
    position: relative;
    z-index: 10;
}

@media only screen and (min-width: $break-point-tablet) {

    .fixedSection {
        h2 {
            margin: 0;
        }
    }

    .fixedSectionWrapper {
        max-width: 800px;
    }
}

@media only screen and (min-width: $break-point-small) {
    .fixedSection {
        h2 {
            font-size: 70px;
            line-height: 60px;
            letter-spacing: -3px;
            margin: 0;
        }
    }
    
    .fixedSection {
        height: 700px;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        
        button {
            // width: 266px;
            margin: 60px auto 0 auto;
        }
    }
}

@media only screen and (min-width: $break-point-normal) {
    .fixedSection {
        h2 {
            font-size: 80px;
            line-height: 70px;
            letter-spacing: -4px;
            margin: 0;
        }

        button {
            // width: 274px;
        }
    }
    
}

@media only screen and (min-width: $break-point-full-style) {
    .fixedSection {
        h2 {
            font-size: 90px;
            line-height: 80px;
            margin: 0;
        }

        button {
            // width: 276px;
        }
    }
}