@use '@/app/styles/core/variables' as *;


.langLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 31px;
    flex-shrink: 0;
    background: rgba(140, 140, 140, 0.2);
    backdrop-filter: blur(3px);
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
}